<!--
Item - (name, price, barcode),
Receipt - (receipt number, total amount, date, list-of-items)
-->

<div class="container">

  <div class="center justify-content-center">
    <h1 class="text-center">Receipt Tracker</h1>

    <div class="row">
      <div class="col-4">
        <form>
          <div>
            <label for="item">Receipt</label><br />

            <input type="number" name="receiptNumber" [(ngModel)]="receiptNumber" placeholder="Receipt Number"
              value="Halifa"><br /><br />
            <input type="text" name="totalAmount" [(ngModel)]="totalAmount" placeholder="Total Amount"><br /><br />
            <input type="date" name="purchaseDate" id="purchaseDate" placeholder="Purchase Date"><br /><br />

            <legend>ADD ITEM</legend>
            <div class="border-bottom-primary">
              <input type="text" name="itemName" [(ngModel)]="itemName" placeholder="Item Name"><br /><br />
              <input type="number" name="price" [(ngModel)]="price" placeholder="Price"><br /><br />
              <input type="number" name="quantity" [(ngModel)]="quantity" placeholder="Quantity"><br /><br />
              <input type="text" name="barcode" [(ngModel)]="barcode" placeholder="Barcode"><br /><br />
              <button class="btn btn-primary btn-lg">Add Item</button>
            </div>

          </div>
        </form>
      </div>
      <div class="col-6">
        {{totalAmount}}

        <h1>{{totalAmount}}</h1>
        <span>{{totalAmount}}</span>

        <div>
          <p id="receiptNumberLabel">Receipt Number: {{receiptNumber}}</p>
          <p>Total Amount: {{totalAmount}}</p>
          <p>Purchase Date: {{purchaseDate}}</p>
          <p>Item Name: {{itemName}}</p>
          <p>Price: {{price}}</p>
          <p>Quantity: {{quantity}}</p>
          <p>Barcode: {{barcode}}</p>
        </div>
      </div>
    </div>
  </div>
</div>